body {
  background-color: #EEE;
}
body > .grid {
  height: 100%;
}
.image {
  margin-top: -100px;
}
.column {
  max-width: 450px;
}
#thumbnail {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}
#imgChangeButton {
  margin-top: 1rem;
}
