{{define "contents"}}
<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui teal image header">
      <div class="content">
        Profile
      </div>
    </h2>
    <div class="ui message">
      <h3 id="name" class="first"></h3>
      <img id="thumbnail" class="ui circular image" src="">
      <div id="imgChangeButton" class="ui primary button" onclick="OpenModal();">Change Image</div>
    </div>
    <div id="settings" class="ui message">
      <div class="header">
        Account Settings.
      </div>
      <ul class="list">
        <li><a href="./?page=changepass">Change Password</a></li>
        <li><a href="./?page=logout">Logout</a></li>
      </ul>
    </div>
    <div id="warning" class="ui hidden warning message"></div>
  </div>
</div>
<div class="ui dimmer modals page transition hidden">
  <div class="ui large modal transition hidden">
    <form class="ui large modal" method="POST" style="left: auto !important;">
      <i class="close icon"></i>
      <div class="header">
        New Image
      </div>
      <div class="content">
        <div class="ui form">
          <div class="field">
            <img id="preview" src>
          </div>
          <div class="field">
            <label>Image File</label>
            <div class="ui input">
              <input id="image" type="file" name="image" accept="image/*" onchange="ChangeImage();">
            </div>
          </div>
        </div>
      </div>
      <input type="hidden" name="action" value="createimg">
      <div class="actions">
        <div class="ui button" onclick="CloseModal();">Cancel</div>
        <div class="ui green button" onclick="UploadImage(this);">Submit</div>
      </div>
    </form>
  </div>
</div>
{{end}}
